.Body {
    flex: 0.8;
    background: linear-gradient(rgb(91, 87, 115), rgba(0,0,0,1));
    height: 100vh;
    color: white;
    padding: 30px;
    overflow-y :overlay;
    padding-bottom: 100px !important;
}

.Body .body__info {
    display: flex;
    align-items: flex-end;
}

.Body .body__info > h2 {
    font-size: 48px;
    margin-bottom: 10px
}

.Body .body__infoText > p {
    font-size: 14px;
}

.Body .body__info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
}

.Body .mui__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.Body .body__shuffle {
    font-size: 80px;
}

.Body .body__shuffle:hover {
    transform: scale(1.08);
    transition: all 0.2s ease-in;
}

.Body::-webkit-scrollbar {
    display: none;
}